@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
/*noinspection CssInvalidAtRule*/
@tailwind base;
/*noinspection CssInvalidAtRule*/
@tailwind components;
/*noinspection CssInvalidAtRule*/
@tailwind utilities;

#root {
    background: rgb(50, 50, 50);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    cursor: grab;
    overflow: auto;
}

.exercise_view {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
}

.exercise_menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 100px);

}

.exercise_menu_items {
    height: 725px;
    width: 657px;
}

.btn-exercise {
    background: transparent;
    border: none;
    outline: none;
    height: 30px;
}

.exercise_menu_input {
    position: absolute;
    top: 20px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exercise_menu_input_text {

    padding-left: 4px;
    margin-right: 6px;
    outline: none;
    height: 25px;
}

.exercise_menu_delete {
    background-color: transparent;
    border: none;
}


/*Exercise Card stacks*/


* {
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    min-height: 100vh;
    background: #393939;
}

.card_stacks {
    width: 520px;
    display: flex;
    position: relative;
    height: 250px;
    top: 275px;
    flex-wrap: wrap;
    transform: rotate(-25deg) skew(25deg);
    transform-style: preserve-3d;
    /*animation: pulse-in .6s ease-in;*/

}

.exercise_menu_row {
    display: block;
}

.exercise_menu_action_area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    z-index: 9000;
    background: transparent;
    cursor: pointer;
}

.exercise_menu_action_area_dots {
    transition: .2s cubic-bezier(0, 0.03, 0, 0.99);
    opacity: 1;
    position: absolute;
}

.exercise_menu_action_btn_delete {
    width: 30px;
    height: 30px;
    border: none;
    z-index: 200;
    background: none;
    cursor: pointer;
    opacity: 0;
    transition: .2s cubic-bezier(0, 0.03, 0, 0.99);
}
button:focus {outline:0;}

.exercise_menu_action_area:hover > .exercise_menu_action_btn_delete {
    opacity: 1;
    /*transition: 1s cubic-bezier(0, 0.03, 0, 0.99);*/
    transition: .2s;
}

.exercise_menu_action_area:hover > .exercise_menu_action_area_dots {
    opacity: 0;
    /*transition: 1s cubic-bezier(0, 0.03, 0, 0.99);*/
    transition: .2s;
}

.card_stacks .card_stack {
    position: relative;
    list-style: none;
    width: 90px;
    height: 90px;
    margin: 20px 20px;
    animation: pulse-in .4s ease-in;
}

.card_stacks .card_stack:before{
    content: '';
    position: absolute;
    bottom: -11px;
    left: 0px;
    width: 100%;
    height: 11px;
    background: #2a2a2a;
    transform-origin: top;
    transform: skewX(-41deg);
}
.card_stacks .card_stack:after{
    content: '';
    position: absolute;
    top: 0;
    left: -9px;
    width: 9px;
    height: 100%;
    background: #2a2a2a;
    transform-origin: right;
    transform: skewY(-49deg);
}
.card_stacks .card_stack span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    background: #2a2a2a;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12px !important;
    transition: 1s cubic-bezier(0, 0.03, 0, 0.99);

}
.card_stacks .card_stack:hover span {
    z-index: 1000;
    transition: .2s;
    color: #fff;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, .5);
}
.card_stacks .card_stack:hover span:nth-child(5){
    transform: translate(40px, -40px);
    opacity: 1;
}
.card_stacks .card_stack:hover span:nth-child(4){
    transform: translate(30px, -30px);
    opacity: .8;
}
.card_stacks .card_stack:hover span:nth-child(3){
    transform: translate(20px, -20px);
    opacity: .6;
}
.card_stacks .card_stack:hover span:nth-child(2){
    transform: translate(10px, -10px);
    opacity: .4;
}.card_stacks .card_stack:hover span:nth-child(1){
     transform: translate(0px, 0px);
     opacity: .2;
 }
.card_stacks div:hover span{
    background: #F5A629 !important;
}

.card_stacks div span:nth-child(5){
    animation: pulse-in-4 .4s ease-in;
    opacity: 1;
}
.card_stacks div span:nth-child(4){
    animation: pulse-in-3 .4s ease-in;
    opacity: .8;
}
.card_stacks div span:nth-child(3){
    animation: pulse-in-2 .4s ease-in;
    opacity: .6;
}
.card_stacks div span:nth-child(2){
    animation: pulse-in-1 .4s ease-in;
    opacity: .4;
}
.card_stacks div span:nth-child(1){
    animation: pulse-in-0 .4s ease-in;
    opacity: .2;
}


@keyframes ease-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pulse-in-0 {
    0% {
        opacity: 0;
    }
    50% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}
@keyframes pulse-in-1 {
    0% {
        opacity: 0;
    }
    50% {
        transform: translate(10px, -10px);
        opacity: 1;
    }
    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}
@keyframes pulse-in-2 {
    0% {
        opacity: 0;
    }
    50% {
        transform: translate(20px, -20px);
        opacity: 1;
    }
    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}
@keyframes pulse-in-3 {
    0% {

        opacity: 0;
    }
    50% {
        transform: translate(30px, -30px);
        opacity: 1;
    }
    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}
@keyframes pulse-in-4 {
    0% {
        opacity: 0;
    }
    50% {
        transform: translate(40px, -40px);
        opacity: 1;
    }
    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}
@keyframes pulse-in-5 {
    0% {
        opacity: 0;
    }
    50% {
        transform: translate(40px, -40px);
        opacity: 1;
    }
    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

/*End of Card Stack CSS*/

/* submit Exercise button */


.exercise_current {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
    align-items: center;
    animation: pulse-in .4s;
    transition: ease-in .9s;
}

.current_exercise_back_btn {
    height: 35px;
    width: 40px;
    outline: none;
    border: none;
    border-radius: 2px;
    margin: 10px;
}

/* Back button */
body {
    font-family: 'Lato', sans-serif;
}

.wrapper {
    position: fixed;
    top: 20px;
    left: 100px;
}

.link_wrapper {
    position: relative;
}

.back_btn_txt {
    display: block;
    width: 100px;
    height: 35px;
    line-height: 35px;
    font-weight: bold;
    text-decoration: none;
    background: #333;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #333;
    transition: all .35s;
    cursor: pointer;
}

.icon {
    width: 35px;
    height: 35px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(-135deg);
    top: 0;
    z-index: -1;
    transition: all .35s;
    left: 0;
}

.icon svg {
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: #F5A629;
    transition: all .35s;
}

.back_btn_txt:hover {
    width: 125px;
    border: 3px solid #F5A629;
    background: transparent;
    color: #F5A629;
}

.back_btn_txt:hover + .icon {
    border: 3px solid #F5A629;
    left: -25%;
}

/* current Back Button*/

