@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
/*noinspection CssInvalidAtRule*/
@tailwind base;
/*noinspection CssInvalidAtRule*/
@tailwind components;
/*noinspection CssInvalidAtRule*/
@tailwind utilities;

#root {
    background: rgb(50, 50, 50);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    cursor: grab;
    overflow: auto;
}

.exercise_view {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
}

.exercise_menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 100px);

}

.exercise_menu_items {
    height: 725px;
    width: 657px;
}

.btn-exercise {
    background: transparent;
    border: none;
    outline: none;
    height: 30px;
}

.exercise_menu_input {
    position: absolute;
    top: 20px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exercise_menu_input_text {

    padding-left: 4px;
    margin-right: 6px;
    border: black;
    outline: none;
    height: 25px;
}
/*Exercise Card stacks*/


* {
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    min-height: 100vh;
    background: #393939;
}

.card_stacks {
    width: 520px;
    display: flex;
    position: relative;
    height: 250px;
    top: 275px;
    flex-wrap: wrap;
    transform: rotate(-25deg) skew(25deg);
    transform-style: preserve-3d;
}
.card_stacks .card_stack {
    position: relative;
    list-style: none;
    width: 90px;
    height: 90px;
    margin: 20px 20px;
}
.card_stacks .card_stack:before{
    content: '';
    position: absolute;
    bottom: -11px;
    left: 0px;
    width: 100%;
    height: 11px;
    background: #2a2a2a;
    transform-origin: top;
    transform: skewX(-41deg);
}
.card_stacks .card_stack:after{
    content: '';
    position: absolute;
    top: 0;
    left: -9px;
    width: 9px;
    height: 100%;
    background: #2a2a2a;
    transform-origin: right;
    transform: skewY(-49deg);
}
.card_stacks .card_stack span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    background: #2a2a2a;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12px !important;
    transition: 1s cubic-bezier(0, 0.03, 0, 0.99);
    content-visibility: auto;
}
.card_stacks .card_stack:hover span {
    z-index: 1000;
    transition: .2s;
    color: #fff;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, .5);
}
.card_stacks .card_stack:hover span:nth-child(5){
    transform: translate(40px, -40px);
    opacity: 1;
}
.card_stacks .card_stack:hover span:nth-child(4){
    transform: translate(30px, -30px);
    opacity: .8;
}
.card_stacks .card_stack:hover span:nth-child(3){
    transform: translate(20px, -20px);
    opacity: .6;
}
.card_stacks .card_stack:hover span:nth-child(2){
    transform: translate(10px, -10px);
    opacity: .4;
}.card_stacks .card_stack:hover span:nth-child(1){
     transform: translate(0px, 0px);
     opacity: .2;
 }
.card_stacks div:hover span{
    background: #F5A629 !important;
}




/*End of Card Stack CSS*/

/* submit Exercise button */


