@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
/*noinspection CssInvalidAtRule*/
@tailwind base;
/*noinspection CssInvalidAtRule*/
@tailwind components;
/*noinspection CssInvalidAtRule*/
@tailwind utilities;

#root {
    background: #323232;
    width: 100%;
}

.app {

    height: 100%;
    width: 100%;
}

.exercise_view {
display: block;
height: 100%;
}

.exercise_view_header {
    display: flex;
    background: #323232;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
}

.exercise_menu {
    display: block;
    background: #323232;
    height: 100%;
    width: 100%;
}

.exercise_menu_sub_header {
    align-items: center;
    background: #323232;
    display: flex;
    justify-content: center;
    width: 100%;
}

.exercise_menu_items {
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*cursor: grab;*/
    /*overflow: auto;*/
}

.create_exercise_form {
    background: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 400px;
}
.card_stacks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*transform: rotate(-25deg) skew(25deg);*/
    /*transform-style: preserve-3d;*/
    width: 100%;
    height: 100%;
}



.form_submit {
    width: 220px;
}


.btn-exercise {
    background: transparent;
    border: none;
    outline: none;
    height: 30px;
}

.exercise_menu_input {
    background: #323232;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 395px;
    top: 80px;
    z-index: 1000;
}



.exercise_menu_input_text {

    padding-left: 4px;
    margin-right: 6px;
    outline: none;
    height: 25px;
}

.exercise_menu_delete {
    background-color: transparent;
    border: none;
}


/*Exercise Card stacks*/


* {
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    min-height: 100vh;
    background: #323232;
}



.exercise_menu_row {
    display: block;
}

.exercise_menu_action_area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    z-index: 9000;
    background: transparent;
    cursor: pointer;
}

.exercise_menu_action_area_dots {
    transition: .2s cubic-bezier(0, 0.03, 0, 0.99);
    opacity: 1;
    position: absolute;
}

.exercise_menu_action_btn_delete {
    width: 30px;
    height: 30px;
    border: none;
    z-index: 200;
    background: none;
    cursor: pointer;
    opacity: 0;
    transition: .2s cubic-bezier(0, 0.03, 0, 0.99);
}
button:focus {outline:0;}

.exercise_menu_action_area:hover > .exercise_menu_action_btn_delete {
    opacity: 1;
    /*transition: 1s cubic-bezier(0, 0.03, 0, 0.99);*/
    transition: .2s;
}

.exercise_menu_action_area:hover > .exercise_menu_action_area_dots {
    opacity: 0;
    /*transition: 1s cubic-bezier(0, 0.03, 0, 0.99);*/
    transition: .2s;
}

.card_stacks .card_stack {
    position: relative;
    list-style: none;
    width: 90px;
    height: 90px;
    margin: 20px 20px;
    animation: pulse-in .4s ease-in;
}



.card_stacks .card_stack span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    background: #2a2a2a;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12px !important;
    transition: 1s cubic-bezier(0, 0.03, 0, 0.99);

}
.card_stacks .card_stack:hover span {
    z-index: 1000;
    transition: .2s;
    color: #fff;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, .5);
}
.card_stacks .card_stack:hover span:nth-child(5){
    transform: translate(10px, -10px);
    opacity: 1;
}
.card_stacks .card_stack:hover span:nth-child(4){
    transform: translate(5px, -5px);
    opacity: .8;
}
.card_stacks .card_stack:hover span:nth-child(3){
    transform: translate(0px, 0px);
    opacity: .6;
}
.card_stacks .card_stack:hover span:nth-child(2){
    transform: translate(-5px, 5px);
    opacity: .4;
}.card_stacks .card_stack:hover span:nth-child(1){
     transform: translate(-10px, 10px);
     opacity: .2;
 }
.card_stacks div:hover span{
    background: #F5A629 !important;
}



@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pulse-in-0 {
    0% {
        opacity: 0;
    }
    50% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}
@keyframes pulse-in-1 {
    0% {
        opacity: 0;
    }
    50% {
        transform: translate(10px, -10px);
        opacity: 1;
    }
    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}
@keyframes pulse-in-2 {
    0% {
        opacity: 0;
    }
    50% {
        transform: translate(20px, -20px);
        opacity: 1;
    }
    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}
@keyframes pulse-in-3 {
    0% {

        opacity: 0;
    }
    50% {
        transform: translate(30px, -30px);
        opacity: 1;
    }
    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}
@keyframes pulse-in-4 {
    0% {
        opacity: 0;
    }
    50% {
        transform: translate(40px, -40px);
        opacity: 1;
    }
    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}
@keyframes pulse-in-5 {
    0% {
        opacity: 0;
    }
    50% {
        transform: translate(40px, -40px);
        opacity: 1;
    }
    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

/*End of Card Stack CSS*/

/* submit Exercise button */

@-webkit-keyframes fadeinout {
    100% { opacity: 1; }
}

@keyframes fadeinout {
    100% { opacity: 1; }
}
.exercise_current {
    display: block;
    position: relative;
    overflow-y: auto;
    -webkit-animation: fadeinout 1s cubic-bezier(0.18, 0.89, 0.32, 1.28) forwards;
    animation: fadeinout 1s cubic-bezier(0.18, 0.89, 0.32, 1.28) forwards;
    opacity: 0;
}

.current_exercise_back_btn {
    height: 35px;
    width: 40px;
    outline: none;
    border: none;
    border-radius: 2px;
    margin: 10px;
}

/* Back button */
/*body {*/
/*    font-family: 'Lato', sans-serif;*/
/*}*/

/*.wrapper {*/
/*    position: fixed;*/
/*    top: 20px;*/
/*    left: 58px;*/
/*}*/

/*.link_wrapper {*/
/*    position: relative;*/
/*}*/

/*.back_btn_txt {*/
/*    display: block;*/
/*    width: 100px;*/
/*    height: 35px;*/
/*    line-height: 35px;*/
/*    font-weight: bold;*/
/*    text-decoration: none;*/
/*    background: #333;*/
/*    text-align: center;*/
/*    color: #fff;*/
/*    text-transform: uppercase;*/
/*    letter-spacing: 1px;*/
/*    border: 3px solid #333;*/
/*    transition: all .35s;*/
/*    cursor: pointer;*/
/*}*/

/*.icon {*/
/*    width: 35px;*/
/*    height: 35px;*/
/*    border: 3px solid transparent;*/
/*    position: absolute;*/
/*    transform: rotate(-135deg);*/
/*    top: 0;*/
/*    z-index: -1;*/
/*    transition: all .35s;*/
/*    left: 0;*/
/*}*/

/*.icon svg {*/
/*    width: 30px;*/
/*    position: absolute;*/
/*    top: calc(50% - 15px);*/
/*    left: calc(50% - 15px);*/
/*    transform: rotate(-45deg);*/
/*    fill: #F5A629;*/
/*    transition: all .35s;*/
/*}*/

/*.back_btn_txt:hover {*/
/*    width: 125px;*/
/*    border: 3px solid #F5A629;*/
/*    background: transparent;*/
/*    color: #F5A629;*/
/*}*/

/*.back_btn_txt:hover + .icon {*/
/*    border: 3px solid #F5A629;*/
/*    left: -25%;*/
/*}*/


.idea_container {
    position: absolute;
    top: 300px;
}

/* current Back Button*/

