body {
    background-color: #100e17;
    font-family: 'Open Sans', sans-serif;
}

.container {
    position: relative;
    height: 100%;
    flex-wrap: wrap;
    margin-top: 15px;
    display: flex;
    z-index: 800;
}

.card_container {

}

h3 {
    overflow-wrap: anywhere;
    -webkit-font-smoothing: antialiased;
}

.card {
    display: flex;
    height: 219px;
    width: 200px;
    background-color: #1a1a1a;
    border-radius: 4px;
    transition: 0.2s ease-out;
    position: relative;
    margin: 10px;
    align-items: center;
    flex-direction: column;
}

.vote_container {
    position: absolute;
    background: #1b1c1f;
    bottom: 0;
    height: 20px;
    width: 100%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.vote_count {
    pointer-events: none;
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
}

.ideaCard_delete_btn {
    border: none;
    background: #6B75A1;
    height: 22px;
    width: 43px;
}



/*.card:not(:first-child) {*/
/*    margin-left: -50px;*/
/*}*/

.card:hover {
    transform: translateY(1px);
    transition: 0.2s ease-out;
    box-shadow: -3px 3px 3px #212121;
}

.card:hover ~ .card {
    position: relative;
    /*left: 50px;*/
    transition: 0.2s ease-out;
}

.title {
    overflow-wrap: anywhere;
    color: white;
    font-weight: 300;
    height: 130px;
    width: 90%;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
}

/*.bar {*/
/*    position: absolute;*/
/*    top: 100px;*/
/*    left: 20px;*/
/*    height: 5px;*/
/*    width: 150px;*/
/*}*/

/*.emptybar {*/
/*    background-color: #4a6262;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.filledbar {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    z-index: 3;*/
/*    width: 0;*/
/*    height: 100%;*/
/*    !*background: rgb(0,154,217);*!*/
/*    background: linear-gradient(90deg, #4a6262 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);*/
/*    transition: 0.6s ease-out;*/
/*}*/

.card:hover .filledbar {
    width: 100%;
    transition: 0.2s ease-out;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
}

.stroke {
    stroke: #ffffff;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.3s ease-out;
}

.circle > svg {
    fill: #4a6262;
    stroke-width: 2px;
    width: 64px;
    height: 81px;
    transition: 0.1s ease-out;
}

.circle_tiny {
    position: relative;
    z-index: 2500;
}

.circle_tiny > svg {
    /*fill: #486e6a;*/
    width: 10px;
    height: 10px;
}

.my_vote > svg {
    fill: #F5A629;
    width: 10px;
    height: 10px;
}

svg:hover {
    cursor: pointer;
    fill: #F5A629;
}

.card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.3s ease-out;
}
