

body {
    font-family: 'Lato', sans-serif;
}

.wrapper {
    position: fixed;
    top: 20px;
    left: 58px;
}

.link_wrapper {
    position: relative;
}

.back_btn_txt {
    display: block;
    width: 100px;
    height: 35px;
    line-height: 35px;
    font-weight: bold;
    text-decoration: none;
    background: #333;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #333;
    transition: all .35s;
    cursor: pointer;
}

.icon {
    width: 35px;
    height: 35px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(-135deg);
    top: 0;
    z-index: -1;
    transition: all .35s;
    left: 0;
}

.icon svg {
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: #F5A629;
    transition: all .35s;
}

.back_btn_txt:hover {
    width: 125px;
    border: 3px solid #F5A629;
    background: transparent;
    color: #F5A629;
}

.back_btn_txt:hover + .icon {
    border: 3px solid #F5A629;
    left: -25%;
}
